body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}



.content-wrapper {
    width: 800px;
    max-width: 100%; 
    padding: 20px;
    background-color: white;
}

h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: 100;
}

.github-logo {
    color: #fff;
}