{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="about-headers">
            <h1>About</h1>
            <h2>について</h2>
        </div>
        <div class="about-subheader">
            <h2>J1-Tom - The home of English-language Japanese Football</h2>
        </div>
        <div class="about-byline">
            <p>J1 League - the highest level of football in Japan</p>
            <p>Tomodachi (ともだち) -friend</p>
        </div>
        <div class="gif-container">
            <img src="static\img\gifs\gif_5.gif" 
                alt="J-League fans" 
                class="about-gif">
        </div>
        <div class="about-container">
            <div id="about-text">
                <p>Since travelling to Japan in 2023, I have grown a keen interest in Japanese football.
                    The fan culture, atmosphere and presentation quickly drew me in - to say nothing of the fast, skilful football on show.
                </p>
                <p>J1-Tom is my attempt to create a simple English-language portal for those, like me, who want an easy way to learn more
                    about the beautiful game in Japan. 
                </p>
            </div>
        </div>
        <div class="gif-container">
            <img src="static\img\gifs\gif_6.gif" 
                alt="J-League goal" 
                class="about-gif">
        </div>
        <div class="about-container">
            <div id="about-text">
                <p>Since travelling to Japan in 2023, I have grown a keen interest in Japanese football.
                    The fan culture, atmosphere and presentation quickly drew me in - to say nothing of the fast, skilful football on show.
                </p>
                <p>J1-Tom is my attempt to create a simple English-language portal for those, like me, who want an easy way to learn more
                    about the beautiful game in Japan. 
                </p>
            </div>
        </div>
        <div class="gif-container">
            <img src="static\img\gifs\gif_3.gif" 
                alt="J-League stadium" 
                class="about-gif">
        </div>
        <div class="about-container">
            <div id="about-text">
                <p>Since travelling to Japan in 2023, I have grown a keen interest in Japanese football.
                    The fan culture, atmosphere and presentation quickly drew me in - to say nothing of the fast, skilful football on show.
                </p>
                <p>J1-Tom is my attempt to create a simple English-language portal for those, like me, who want an easy way to learn more
                    about the beautiful game in Japan. 
                </p>
            </div>
        </div>
        <div class="gif-container">
            <img src="static\img\gifs\gif_4.gif" 
                alt="J-League stadium" 
                class="about-gif">
        </div>
    <div>
    
{% endblock %}