{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="about-headers">
            <h1>About</h1>
            <h2>について</h2>
        </div>
        <div>
            <p>J1-Tom - The home of english-language Japanese Football</p>
            <p>J1 League - the highest level of football in Japan</p>
            <p>Tomodachi (ともだち)- Japanese word for friend</p>
        </div>
        <div>
            <p>Since travelling to Japan in 2023, I have grown a keen interest in Japanese football.
                The fan culture, atmosphere and presentation quickly drew me in - to say nothing of the fast, skilful football on show.
            </p>
        </div>
        <div>
            <p>J1-Tom is my attempt to create a simple English-language portal for those, like me, who want an easy way to learn more
                about the beautiful game in Japan. 
            </p>
        </div>
        
    <div>
    
{% endblock %}