{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="about-headers">
            <h1>About</h1>
            <h2>について</h2>
        </div>
        <div class="about-subheader">
            <h2>J1-Tom - The home of English-language Japanese Football.</h2>
        </div>
        <div class="about-byline">
            <p>J1 League - the highest level of football in Japan</p>
            <p>Tomodachi (ともだち) -friend</p>
        </div>
        <div class="gif-container">
            <img src="{{ url_for('static', filename='img/gif/verdy-fans-gif.gif') }}"
                alt="J-League fans" 
                class="about-gif">
        </div>
        <div class="about-container">
            <div id="about-text">
                <p>
                    In August 2023, I finally managed to go on a bucket list trip to Japan.
                </p>
                <p>
                    As a lifelong football fan, I managed to make my way down to a J-League game whilst
                    staying with my cousin in Osaka.
                </p>
            </div>
        </div>
        <div class="gif-container">
            <img src="{{ url_for('static', filename='img/gif/osaka-gif.gif') }}" 
                alt="J-League goal" 
                class="about-gif">
        </div>
        <div class="about-container">
            <div id="about-text">
                <p>
                    I've been lucky enough in my personal and work life to travel to many different countries,
                    and sample the beautiful game all over the world.
                </p>
                <p>
                    The J League experience was one that instantly drew me in. The fan culture, the stadium experience,
                    and the game itself left me wanting to explore further.
                </p>
            </div>
        </div>
        <div class="gif-container">
            <img src="{{ url_for('static', filename='img/gif/verdy-banner-gif.gif') }}"
                alt="J-League stadium" 
                class="about-gif">
        </div>
        <div class="about-container">
            <div id="about-text">
                <p>
                    Since that day, I have managed to visit Japan on a further two occasions, and of course have made time 
                    to check the fixture list before going!
                </p>
                <p>J1-Tom is my attempt to create a simple English-language portal for those, like me, who want an easy way to learn more
                    about the beautiful game in Japan. 
                </p>
            </div>
        </div>
        <div class="gif-container">
            <img src="{{ url_for('static', filename='img/gif/verdy-stadium-gif.gif') }}"
                alt="J-League stadium" 
                class="about-gif">
        </div>
    <div>
    
{% endblock %}