{% extends "base.html" %}
{% block content %}
    <div class="teams-header">
        <h1>Teams</h1>
        <h2>チーム</h2>
    </div>
    <br>
    {% for team in teams %}
        <div class="teams-grid">
            <div class="team-item" >
                <a href="{{ url_for('team_detail', team_id=team.team_id) }}" 
                    style="background-image: url('{{ url_for('static', filename=team.badge.replace('static/', '')) }}');">
                    {{ team.name }}
                </a>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}